<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<nombre>Carrito</nombre>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" href="style.css">
</head>

<body class="container-fluid">

 <div class="container w-75 p-2 border mt-3">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Mi sitio web</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/productos">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/carrito">Carrito</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cuenta">Mi cuenta</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/chat">Chat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Desloguear</a>
        </li>
      </ul>
      <span class="navbar-text">
        Bienvenid@, {{nombre}}
      </span>
    </div>
  </nav>
</div>
    <div class="container w-75 p-3 border mt-2">
        <h3 class="text-white bg-dark">Carrito</h3>
        <hr>
        <ul class="list-group" id="carrito">
        <ul class="list-group" id="encabCarrito"></ul>
        <ul class="list-group" id="prodCarrito"></ul>
    
        </ul>
    </div>
    
    <template id="template-prod-carrito">
        <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
            <p class="mb-0" id="nombre">Nombre Producto</p>
        </div>
        {{this.nombre}}
        {{this.precio}}
        {{this.cantidad}}
        {{this.productoId}}  
        </li>
    </template>

<script src="../public/scripts/productos.js"></script>
<script src="../public/scripts/carrito.js"></script>

</body>
